.notice_section {
    padding: 80px 0;
    background-color: #fff4f2;
}

.notice_section .container {
    border: 2px solid;
    border: 3px solid #ff6652;
    padding: 20px 15px 20px 215px;
    border-radius: 10px;
    position: relative;
    background-color: #fff;
}

.notice_section h3 {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #ff6652;
    color: #fff;
    height: 100%;
    display: flex;
    align-items: center;
    width: 200px;
    justify-content: center;
}

.notice_section p {
    font-size: 18px;
    font-weight: 500;
}

/*======== Responsive: Tablet < 768px ========*/

@media screen and (max-width: 768px) {
    .notice_section {
        padding: 50px 0;
    }

    .notice_section .container {
        padding: 20px 15px 20px 165px;
    }

    .notice_section h3 {
        width: 150px;
        font-size: 18px;
    }

    .notice_section p {
        font-size: 16px;
    }

}

/*======== Responsive: Mobile < 425px ========*/

@media screen and (max-width: 425px) {
    .notice_section .container {
        padding: 20px 15px 20px 105px;
    }

    .notice_section h3 {
        width: 90px;
        flex-wrap: wrap;
        text-align: center;
        font-size: 16px;
    }

}